<a href="/auth/logout">Logout</a>
<a href="/chat">CHAT</a>
<h1>AUTORIZADO</h1>

<div id="left-panel">
  <div id="user-panel">
    <img id="user-panel-image" src='' alt="">
  <h3 id="user-panel-name"></h3>
  </div>
  <div id="user-panel-matchs">
    PARTIALS
  </div>
</div>
<div id="right-panel">
    <img id="display-image" src="" alt="">
    <h3 id="display-name"></h3>
    <h4 id="display_displayname"></h4>
    <input id="like-botton" type="submit" value="LIKE">
    <input id="dislike-botton" type="submit" value="DISLIKE">
  
</div>



<script>
  window.info = {{{frontInfo}}}
</script>
<script src="/javascripts/tools.js"></script>
<script src="/javascripts/myprofilelogic.js"></script>

