<div class="login-modal">
  <div class="modal-target">
    <a class="close-button"></a>
    <img src="../images/iron-logo.png" class="logo" alt="logo-IronTinder">
    <p>EMPIEZA YA</p>
    <a class="slack-login" href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=2432150752.487739429266">
      <img alt="Sign in with Slack" src="https://platform.slack-edge.com/img/sign_in_with_slack@2x.png" />
    </a>
  </div>
</div>