

<div id="index-container">
  <section class="slogan">
    <p>Commitea. Pushea. Pull.</p>
  </section>
  <div class="login" id="register-open">
    <a id="btn-register" class="btn btn-registro">REGÍSTRATE</a>
  </div>
</div>

<script src="/javascripts/script.js"></script>