<nav>
  <a href="/profile/myProfile">
    <img src="../images/logo-blanco-letras.png" alt="logo-IronTinder">
  </a>
</nav>
<div id="index-container">
  <section class="slogan">
    <p>Commit. Sketch. Connect.</p>
  </section>
  <div class="login" id="register-open">
    <a id="btn-register" class="btn btn-registro">REGÍSTRATE</a>
  </div>
</div>

<script src="/javascripts/script.js"></script>