<div id="index-container">
  <section class="slogan">
    <p>ESTE ES NUESTRO SLOGAN</p>
  </section>
  <div class="login">
    <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=2432150752.487739429266">
      <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" />
    </a>
  </div>
</div>