<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Iron-Tinder</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Yeseva+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

</head>

<body>
  <div id="layout-container">
    <nav>
      <a href="/">
        <img src="../images/iron-logo.png" alt="logo-IronTinder">
      </a>
    </nav>
    {{> loginModal}}
    {{{body}}}
    <footer>
      <p>IRON  TINDER</p>
    </footer>
  </div>

  <script src="/javascripts/script.js"></script>
</body>
 
</html>