* {
  box-sizing: content-box; }

html, body {
  margin: 0;
  padding: 0; }

/**** LAYAOUT STYLE *****/
#layout-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

.layout-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: Slider 15s ease infinite;
  filter: grayscale(63%); }

@keyframes Slider {
  0% {
    background-image: url(../images/slider/slider1.jpg); }
  40% {
    background-image: url(../images/slider/slider2.jpg); }
  80% {
    background-image: url(../images/slider/slider3.jpg); }
  100% {
    background-image: url(../images/slider/slider1.jpg); } }

nav {
  width: 100%; }

nav img {
  max-width: 15%;
  padding: 3% 5%; }
  @media (min-width: 650px) {
    nav img {
      max-width: 11%; } }
  @media (min-width: 950px) {
    nav img {
      max-width: 7%; } }
  @media (min-width: 1400px) {
    nav img {
      max-width: 6%;
      padding: 2% 2%; } }
  @media (min-width: 1700px) {
    nav img {
      max-width: 4%; } }

nav a {
  color: white;
  font-size: 2em; }

/**** INDEX STYLES *****/
#index-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40%; }
  @media (min-width: 700px) {
    #index-container {
      margin-top: -30%; } }
  @media (min-width: 950px) {
    #index-container {
      margin-top: -9%; } }
  @media (min-width: 1400px) {
    #index-container {
      width: 80%; } }

.slogan {
  color: white;
  font-size: 4em;
  text-align: center;
  font-family: 'Yeseva One', cursive;
  line-height: 1; }
  @media (min-width: 700px) {
    .slogan {
      font-size: 5em; } }
  @media (min-width: 900px) {
    .slogan {
      font-size: 6em; } }
  @media (min-width: 1400px) {
    .slogan {
      font-size: 9em; } }

.slogan p {
  margin-top: 0; }

.btn {
  font-family: 'Source Sans Pro', sans-serif; }

.login {
  background-color: #00b4fe;
  width: 70%;
  text-align: center;
  padding: 3% 0;
  border-radius: 10px;
  cursor: pointer; }
  .login:hover {
    background-color: #006c98;
    transition: background-color 0.8s; }
  @media (min-width: 700px) {
    .login {
      width: 45%;
      padding: 2% 0; } }
  @media (min-width: 1050px) {
    .login {
      width: 32%; } }
  @media (min-width: 1250px) {
    .login {
      width: 23%;
      padding: 1% 0; } }

.btn-registro {
  color: white;
  font-size: 1.4em;
  font-weight: bold; }
  @media (min-width: 900px) {
    .btn-registro {
      font-size: 1.6em; } }

/*** LOGIN MODAL ****/
.login-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: background-color 0.5s ease-in;
  transition: opacity 0.5s ease-in; }

.modal-target {
  width: 35vh;
  height: 60vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: center; }

.modal-target p {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  font-family: 'Source Sans Pro', sans-serif; }

.modal-target .logo {
  max-width: 15%;
  margin-top: 10%; }

.slack-login {
  max-width: 85%;
  margin-top: 35%; }

.slack-login img {
  max-width: 100%; }

.close-button {
  height: 30px;
  width: 30px;
  position: relative;
  box-sizing: border-box;
  line-height: 30px;
  display: inline-block;
  border: solid 3px #c9c9c9;
  border-radius: 50%;
  left: 45%; }
  .close-button:before, .close-button:after {
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -10px;
    display: block;
    height: 4px;
    width: 20px;
    background-color: #c9c9c9;
    transition: all 0.25s ease-out; }
  .close-button:after {
    transform: rotate(-135deg); }
  .close-button:hover:before, .close-button:hover:after {
    transform: rotate(0deg); }

/*** FOOTER ***/
footer {
  font-family: 'Monoton', cursive;
  height: 50px;
  background-color: #00000059;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

footer p {
  margin: 0;
  font-size: 1.7em;
  font-style: italic;
  color: white; }

/***** CHAT WINDOW *****/
.chat-window {
  width: 797px;
  height: 544px;
  background-color: #d5f9ed;
  display: none; }

/*# sourceMappingURL=style.css.map */