$ironhackColor: #00b4fe;
$closeModalCOlor: #c9c9c9;


*{
  box-sizing: content-box;
}

html,body {
  margin: 0;
  padding: 0;
}
/**** LAYAOUT STYLE *****/

#layout-container {
  
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
}

.layout-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: Slider 15s ease infinite;
  filter: grayscale(63%);
}

@keyframes Slider {
	0% {
		background-image: url(../images/slider/slider1.jpg)
	}
	40% {
		background-image: url(../images/slider/slider2.jpg)
	}
	80% {
		background-image: url(../images/slider/slider3.jpg)
  }
  100% {
		background-image: url(../images/slider/slider1.jpg)
	}
}

nav {
  width: 100%;
  max-height: 0vh;
}

nav img {
  max-width: 15%;
  padding: 3% 5%;

  @media (min-width: 650px) {
    max-width:11%;
  }
  
  @media (min-width: 950px) {
    max-width:7%;
  }
  
  @media (min-width: 1400px) {
    max-width:6%;
    padding: 2% 2%;
  }
  
  @media (min-width: 1700px) {
    max-width:4%;
  }
}

nav a {
  color:white;
  font-size:2em;
}
/**** INDEX STYLES *****/

#index-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -40%;

  @media (min-width: 700px) {
    margin-top: -30%;
  }
  
  @media (min-width: 950px) {
    margin-top: -9%;
  }
  
  @media (min-width: 1400px) {
    width: 80%;
  }
}

.slogan {
  color:white;
  font-size: 4em;
  text-align: center;
  font-family: 'Yeseva One', cursive;
  line-height: 1;

  @media (min-width: 700px) {
    font-size: 5em;
  }
  
  @media (min-width: 900px) {
    font-size: 6em;
  }
  
  @media (min-width: 1400px) {
      font-size: 9em;

  }

}

.slogan p {
  margin-top: 0;
}



.btn {
  font-family: 'Source Sans Pro', sans-serif;
}

.login {
  background-color: $ironhackColor;
  width: 70%;
  text-align: center;
  padding: 3% 0;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: darken($ironhackColor,20);
    transition: background-color 0.8s;
  }

  @media (min-width: 700px) {
    width: 45%;
    padding: 2% 0;
  }

  @media (min-width: 1050px) {
    width: 32%;
  }

  @media (min-width: 1250px) {
    width: 23%;
    padding: 1% 0;
  }

}

.btn-registro {
  color: white;
  font-size: 1.4em;
  font-weight: bold;

  @media (min-width:900px) {
    font-size: 1.6em;
  }
}

/*** LOGIN MODAL ****/
 
.login-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: background-color 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.modal-target {
  width: 35vh;
  height: 60vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;    
  padding: 1%;
  align-items: center;
}

.modal-target p {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  font-family: 'Source Sans Pro', sans-serif;
}

.modal-target .logo {
  max-width: 15%;
  margin-top: 10%;
}

.slack-login {
  max-width: 85%;
  margin-top:35%;
}

.slack-login img {
  max-width: 100%;
}

.close-button {
  $size: 30px;
  height: $size;
  width: $size;
  position: relative;
  box-sizing: border-box;
  line-height: $size;
  display: inline-block;
  border: solid 3px $closeModalCOlor;
  border-radius:50%;
  left: 45%;

  &:before, &:after {
      $width: 20px;
      $height: 4px;
      transform: rotate(-45deg);
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -$height/2;
      margin-left: -$width/2;
      display: block;
      height: $height;
      width: $width;
      background-color: $closeModalCOlor;
      transition: all 0.25s ease-out;
  }

  &:after {
      transform: rotate(-135deg);
  }

  &:hover {

      &:before, &:after {
          transform: rotate(0deg);
      }
  }
}


/**** PROFILE ****/

#pgeneral-container{
  width: 100%;
}

#profile-container{
  width: 100%;
  background-color: pink;
  display: flex;
  height: 95vh;
}

#user-panel-image {
  border-radius: 50%;
  max-width: 30%;
}

.nav-profile{
  max-height: 5vh;
}

#left-panel{
  width: 30%;
  background-color: yellow;
}

#rigth-panel{
  width: 70%;
  background-color: purple;
}

/*** FOOTER ***/

footer {
  font-family: 'Monoton', cursive;
  height: 5vh;
  background-color: #00000059;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

footer p{
  margin:0;
  font-size: 1.7em;
  font-style: italic;
  color:white;
  
}

/***** CHAT WINDOW *****/

.chat-window{
  width: 797px;
  height: 544px;
  background-color: #d5f9ed;
  display: none;
}

/**** CHAT ****/

.left{
  position: relative;
  left:50%;
  margin-bottom: 2%;
  background-color: white;
  width: 30%;
  padding:1% 0;
  border-radius: 10px;
}
.rigth{
  position: relative;
  left: 0;
  margin-bottom: 2%;
  background-color: white;
  padding:1% 0;
  border-radius: 10px;
  width: 30%;
}